{% extends 'bootcss/base.html' %}

{% block main %}
 <form action ="{% url '[student_manage]:update' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <table class="table" style="border-style:none;width: 50%"  >
                <tr>
                    <td style="border-style:none">姓名：</td>
                    <td style="border-style:none"><input name="name" type="text" value="{{ stu_detail.name}}"></td>
                </tr>
                <tr>
                    <td style="border-style:none">学号：</td>
                    <td style="border-style:none"><input name="number" type="text" value="{{ stu_detail.number}}"></td>
                </tr>
                <tr>
                    <td style="border-style:none">年龄：</td>
                    <td style="border-style:none"><input name="age" type="text" value="{{ stu_detail.age}}"></td>
                </tr>
                <tr>
                    <td style="border-style:none">成绩：</td>
                    <td style="border-style:none"><input name="score" type="text" value="{{ stu_detail.score}}"></td>
                </tr>
                <tr>
                    <td style="border-style:none">班级：</td>
                    <td style="border-style:none">
                        <select class="form-control" name="cls">
                            {% for cls in classes %}
                                {% if cls.id == stu_detail.cls.id %}
                                    <option value="{{ cls.id }}" selected="selected">{{ cls.name }}</option>
                                 {% else %}
                                    <option value="{{ cls.id }}">{{ cls.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="border-style:none">邮箱：</td>
                    <td style="border-style:none"><input name="email" type="text" value="{{ stu_detail.email}}"></td>
                </tr>
             <tr>
                    <td style="border-style:none">头像：</td>
                    <td style="border-style:none">
                        <input type="file" name="avatar">
                    </td>
                </tr>
            <span style="color: red">{{ error }}</span>
            </table>
            <div class="form-group col-md-3">
                <input class="form-control btn btn-danger" type="submit" value="修改">
            </div>
        </form>
{% endblock %}